<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">Create a New Task</h1>

    <input
      #taskTitleInput
      class="input has-background-light"
      type="text"
      placeholder="Enter Task Name"
    />

    <div class="buttons is-right">
      <button class="button is-light" routerLink="/">Cancel</button>
      <button
        class="button is-primary has-text-white"
        (click)="createTask(taskTitleInput.value)"
      >
        Create
      </button>
    </div>
  </div>
</div>
